@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
    padding: 0;
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
    color: inherit;
    text-decoration: none;
}

* {
    box-sizing: border-box;
}

@layer components {
    .post-body h1 {
        @apply text-4xl;
        @apply font-bold;
        @apply py-6;
    }

    .post-body h2 {
        @apply text-2xl;
        @apply py-4;
    }

    .post-body p {
        @apply text-lg;
        @apply py-2;
    }

    .post-body a {
        @apply text-blue-500;
        @apply py-2;
        @apply hover:underline
    }

    .post-body ul, ol {
        @apply leading-8;
        @apply list-disc;
        @apply list-inside;
    }

    .post-body pre {
        background: #f4f4f4;
        padding: 20px;
        margin: 20px 0;
        line-height: 2.3;
    }
}
.tab .p-menuitem-text {
}

.tab .p-tabmenu {
}
